<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Elden Ring Database</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .dropdown-submenu {
            position: relative;
        }

            .dropdown-submenu .dropdown-menu {
                top: 0;
                left: 100%;
                margin-top: -1px;
            }
    </style>
</head>
<body style="background-color: #111;font-size: 14px; color: #fff;">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Elden Ring Database</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="dropdown navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        Add
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="nav-link text-dark" asp-area="" asp-controller="CharacterClasses" asp-action="Add">Add Class</a></li>
                        <li class="dropdown-submenu">
                            <a class="test nav-link text-dark" tabindex="-1" href="#">Add Weapons And Shields<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Weapons" asp-action="Add">Add Weapon</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Shields" asp-action="Add">Add Shield</a></li>
                            </ul>
                            <a class="test nav-link text-dark" tabindex="-1" href="#">Add Armors<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Helms" asp-action="Add">Add Helm</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="ChestArmors" asp-action="Add">Add Chest Armor</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Gauntlets" asp-action="Add">Add Gauntlets</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="LegArmors" asp-action="Add">Add Leg Armor</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="ArmorSets" asp-action="Add">Add Armor Set</a></li>
                            </ul>
                            <a class="test nav-link text-dark" tabindex="-1" href="#">Add Skills And Status Effects<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Skills" asp-action="Add">Add Skill</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="StatusEffects" asp-action="Add">Add Status Effect</a></li>
                            </ul>
                            <a class="test nav-link text-dark" tabindex="-1" href="#">Add Items<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Ammunitions" asp-action="Add">Add Ammunition</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Talismans" asp-action="Add">Add Talisman</a></li>
                            </ul>
                        </li>
                        <li><a class="nav-link text-dark" asp-area="" asp-controller="MagicSpells" asp-action="Add">Add Magic Spell</a></li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.UtcNow.Year - Elden Ring Database
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            $('.dropdown-submenu a.test').on("click", function (e) {
                $(this).next('ul').toggle();
                e.stopPropagation();
                e.preventDefault();
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
